.css-390oqs:hover{
 background-color: #555770 !important;
}

.css-1ubylsq{
   border-bottom: 5px solid #555770 !important;
  margin-bottom: 10px !important;   
}

 .css-q77qzj{
        position: absolute !important ;
    top: 0px !important;
    right: 0px !important;
    background: #E53535 !important;
    border-bottom-left-radius: 20px !important;
}
.css-1j34oqa:hover{
  transform: scale(1.1) !important;
  color: #6600CC !important;
}




