@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

body{
  margin: 0 !important;
  padding: 0 !important;
font-family: sans-serif ;
  background-color: #1C1C28 !important;
  color: #f5f5f5 ;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281) ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
